.featured-section {
    padding: 2rem 0;

    .featured-section-container {
        .featured-job-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            width: 100%;
            justify-content: space-between;

            @media (max-width: 1024px) {
                flex-wrap: nowrap;
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
            }
        }
    }
}