.header-ribbon {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: url('https://assets.jobstore.my/images/header/jobseeker_header_purple_bg.png') #f7f7f7 no-repeat center / cover;

    @media (max-width: 480px) {
        display: none;
    }

    &.mobile {
        display: none;
        @media (max-width: 480px) {
            margin: 1.5rem auto;
            display: block;
            height: auto;
            line-height: normal;
            border: 1px solid #fff;
            box-shadow: 0 0 10px #ddd;
            border-radius: 10px;
            width: 90%;
            background: url('https://assets.jobstore.my/images/header/jobseeker_header_banner_bg.png') no-repeat center left 20%/cover;
        }

        a {
            .header-ribbon-container {
                padding: 1rem;
                align-items: center;
                height: 100px;
                .ribbon-text {
                    width: 50%;

                    &:last-child {
                        flex-direction: column;

                        h4 {
                            margin-right: 0;
                            text-align: right;
                            margin-bottom: .5rem;
                        }

                        .ribbon-prompt {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    .header-ribbon-container {
        display: flex;
        justify-content: center;
        gap: 5%;
        
        .ribbon-text {
            display: flex;
            gap: .75rem;

            @media (max-width: 820px) {
                gap: 0;
            }

            h4 {
                color: #fff;
                font-size: 1rem;

                @media (max-width: 820px) {
                    margin-right: 1rem;
                }
            }

            &:last-child {
                
                h4 {
                    color: #000;
                    font-size: .85rem;
                    font-weight: 500;

                    span {
                        font-weight: 700;
                    }
                }
            }

            .ribbon-prompt {
                span {
                    background-color: $purple;
                    padding: .05rem .7rem;
                    font-size: 0.8rem;
                    line-height: 20px;
                    font-weight: 600;
                    color: $white;
                    border: 2px solid $purple;
                    border-radius: 5px;
                    cursor: pointer;
                    @include transition;

                    &:hover {
                        background-color: $white;
                        color: $purple;
                        @include transition;
                    }
                }
            }
        }
    }
}