$font-path: '../fonts/';

$primary-blue: #0704e1;
$purple: #4724d8;
$orange: #fe7e00;
$white: #fff;
$black: #000;

$small-device: 576px;
$tablet-width: 768px;
$xl-tablet-width: 992px;
$desktop-width: 1200px;
$xl-desktop-width: 1400px;